body{
margin: 0;
background-image: url("fondo-abstracto-blanco-minimalista_23-2148816119.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

}

.banner-inicio{
  width: 300%;
  display:flex;
  flex-wrap: wrap;
}
li{
  float: left;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color:black;
}

li a{
  display: block;
  color: rgb(245, 237, 237);
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 20px;
 
}

 .container{
   background-image: fondo_banner oc7ne.png;
 }
  